<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form>

Number1 = <input type="text" name="num1">
Number2 = <input type="text" name="num2">

<button type="button" value="Add" onclick="add"> Add</button>
<button type="button" value="subtract" onclick="add"> Subtract</button>
<button type="button" value="multiply" onclick="add"> Multiply</button>
<button type="button" value="divide" onclick="add">Divide</button>
<button type="button" value="modulo" onclick="add"> Modulo</button>

</form>

</body>
</html>